<div class="row">
  <div class='col-xs-4 col-xs-offset-4'>

<form action="<%= session_url %>" method="POST">
	<div class="form-group">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">
	
	<label> User Name </label>
	<input type="text" name="user[username]" value="test1" class='form-control'>
	
	<label> Password </label>
	<input type="password" name="user[password]" value="password" class='form-control'>
	
<br>
	
	<input type='submit' value="Sign In">
</form>

<br>
<br>

</div>
</div>

</div>


