<li> 
<a href="#/users/<%= user.id %>"> <%= user.escape("username")%> </a>
<% if (follow === true) { %>
<button class="unfollowing" data-id="<%=user.id%>">Unfollow</button>
<% } else { %>
<button class="new-following" data-id="<%=user.id%>">Follow</button>
<% } %>
</li>