<% if (like) { %>
	<div class="unlike div-inline-block">
		<a href="#" id="unlike" title="unlike">
			<img src="https://www.filepicker.io/api/file/nfSwIHHYSsa16coGKUwQ" 
				alt="unlike"
				height="24px"
				width="24px"
			>
		</a>
	</div>
	
<% } else { %>
	<div class="like div-inline-block">
		<a href="#" id="like" title="like">
			<img src="https://www.filepicker.io/api/file/AJXkICPHT2SukTX8HSTM" 
				alt="like"
				height="24px"
				width="24px"
			>
		</a>
	</div>
<% } %>