<!-- <#% if (listShow) { %>
	<button> List Display </button>
<#% } %> -->

<!-- <p></p> -->
<% users.each(function (user) { %>
	<div class="col-xs-3 top-bottom-padding">
		<a href="#/users/<%= user.id %>">
			<img src="<%= user.escape("image_url") %>" height="203px" width="100%" class="img-circle"></img>
		</a>
		<span id="user-index-<%= user.id %>"></span>
	</div>	
<% }) %>

