<h2> <%= user.escape("username") %> </h2>





	<% user.posts().each(function(post) { %>
	<div class="panel panel-default">
	  <div class="panel-body">
			<h3>
			  <a href="#/posts/<%= post.id %>" > <%= post.escape("title") %> </a>
			</h3>
			
			<p>
			  <%= post.escape("content") %>
			</p>
	  </div>
	</div>
<% }) %>


<a href="#/users">Back to Users </a>