<div class="header">
	<a href="#/users/<%= user.id %>">
		<img src="<%= user.escape("image_url") %> " class="img-rounded" height="130px" width="130px">
	</a>
	<h2><%= user.escape("username") %></h2>
</div>


<div class="col-xs-3" id="post-time" style="padding-left: 0; padding-right:0;"></div>
<div class="col-xs-9" id="post-content"></div>


<a href="#/users">Back to Users </a>