<h2> <%= user.escape("username") %> </h2>

<ul>
	<% user.posts().each(function(post) { %>
	<li>
	  <a href="#/posts/<%= post.id %>" > <%= post.escape("title") %> </a>
	  <%= post.escape("content") %>
	</li>
	<% }) %>
</ul>

<a href="#/users">Back to Users </a>