<div class="row text-center">
	<div class="col-xs-2">
		<ul class="user_all">

		</ul>
	</div>

	<div class="col-xs-10">
		<div class="current_moused_user">
			<br><br><br><br><br><br><br><br>
			<div class="panel panel-default">
			  <div class="panel-body">
					<h3> To see posts by users in the left panel, </h3>
					
					<br>
					
			    <h3> Please mouseover Users in the left panel to see their posts </h3>
			  </div>
			</div>
			
		</div>
	</div>
</div>

<br>

<div class="row">
	<div class="col-xs-4">
		<a href="#"> Back to Posts </a>
	</div>
</div>
