<form class="submitting">
	<div class="form-group">
			<textarea rows="4" cols="100" name="comment[content]" id="comment_content"class='form-control'><%=comment.escape("content")%></textarea>
</div>
	
	<div class="form-group">
	  <button class="btn btn-info save"> Save </button>
		<button class="btn btn-warning cancel"> Cancel </button>
		<button class="btn btn-danger destroy" > Destroy </button>
	</div>
</form>