<form class="comment-create">
	<div class="form-group">
		<textarea rows="1" name="comment[content]" id="comment_content" class='form-control'
				placeholder="leave a comment..."></textarea>
	</div>
	
	<div class="form-group">	
	  <button class="btn btn-info save"> Create </button>
		<button class="btn btn-danger cancel"> Cancel </button>
	</div>
</form>