<div class="col-xs-9">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1" style="padding-left: 0; padding-right:0;">
				<img src="<%= current_user_imgURL %>" 
					class="img-rounded" height="100%" width="100%"
				>
			</div>
			<div class="col-xs-11">
				<div class="panel panel-default">
					<div class="container-fluid">
						<div class="panel-body" id="new-post"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<br>
	
	<div id= "posts-show"></div>
</div>
	
<div class="col-xs-3 " style="padding-left: 0;">
	<h3 ><font color="white"> <%= current_username %> </font></h3>
	<div class="list-group">
	  <a href="#/users/<%= current_user_id %>" class="list-group-item">
			Posts
		</a>
	  <a href="#" class="list-group-item">
			Followers
		</a>
	  <a href="#" class="list-group-item">Liked Posts</a>
	  <a href="#" class="list-group-item">Customize</a>
	</div>
	<hr>
	<div class="recommende-users">
		<h3 ><font color="white">Recommended Users</font></h3>
		<ul id="user-follows" class="list-group" ></ul>
	</div>
</div>
