<br>

<form>
  <label> Post Title </label>
	<input type="text" name="post[title]" id="post_title" class='form-control'>
	
	<br>
	<label> Post Body </label>
	<textarea rows="4" cols="100" name="post[content]" id="post_content" class='form-control'> </textarea>
	
	<br>
  <button> Create Post </button>


</form>

