<br>

<form>
  <label> <span class="label label-default">Post Title</span> </label>
	<input type="text" name="post[title]" id="post_title" placeholder= "Place your post title here" class='form-control'>
	
	<br>
	<label> <span class="label label-default">Post Body</span> </label>
	<textarea rows="4" cols="100" placeholder="Describe your post here..." name="post[content]" id="post_content" class='form-control'></textarea>
	
	<br>
  <button class="btn btn-primary btn-lg"> Create Post </button>


</form>

