<div class="new-collection-buttons">
<div class="col-xs-2" >
		<button id="create-post" class="btn btn-default"> <img src="http://www.clker.com/cliparts/a/c/f/1/1194994137100576556114_text.svg.hi.png" height="30px" width="36px"></img> </button>
		Text
</div>
<div class="col-xs-2" >
		<button id="create-post" class="btn btn-default"> <img src="http://www.clker.com/cliparts/T/f/n/7/r/V/camera-vector-md.png" height="30px" width="36px"></img> </button>
		Image
</div>
<div class="col-xs-2" >
		<button id="create-post" class="btn btn-default"> <img src="http://www.clker.com/cliparts/b/b/0/c/1195431703233884825Stellaris_Clapper-board.svg.med.png" height="30px" width="36px"></img> </button>
		<strike>Video</strike>
</div>
<div class="col-xs-2" >
		<button id="create-post" class="btn btn-default"> <img src="http://www.clker.com/cliparts/Q/q/8/4/Y/I/speaker-edit-2-md.png" height="30px" width="36px"></img> </button>
		<strike>Audio</strike>
</div>

<div class="col-xs-2" >
		<button id="create-post" class="btn btn-default"> <img src="http://www.clker.com/cliparts/c/i/j/4/f/C/blue1-quote-mark-md.png" height="30px" width="36px"></img> </button>
		<strike>Quote</strike>
</div>

<div class="col-xs-2" >
		<button id="create-post" class="btn btn-default"> <img src="http://www.clker.com/cliparts/3/d/D/J/O/I/chain-md.png" height="30px" width="36px"></img> </button>
		<strike>Link</strike>
</div>
</div>