<div class="post-show-place">
<h2> <%= blog.escape('title') %></h2>
<h2> <%= blog.escape('content') %></h2>
<button class="edit"> Edit Post </button>
</div>

<button class="destroy">Destroy</button>

<br>

<a href=""> Back to Posts </a>


