<div class="col-xs-1" style="padding-left: 0; padding-right:0;">
	<a href="#/posts/<%= post.id %>">
		<%= new Date(post.escape("updated_at")).toDateString() %>
	</a>
</div>

<div class="col-xs-11 post-show" style="padding-top:0"> </div>

<div class="comments-show"></div>

<div class="likes-show"></div>