<div class="row main-body">
  <div class='col-xs-4 col-xs-offset-4'>
		
		
		<form action="<%= users_url %>" method="POST">
			<div class="form-group text-center white-font">
		  <input
		     name="authenticity_token"
		     type="hidden"
		     value="<%= form_authenticity_token %>">
			
			
			<label for="user_name"> User Name </label>
			<input type="text" 
				name="user[username]" 
				class='form-control' 
				id="user_name",
				value="<%= @user.username %>" >
		
			<br>

			<label for="user_password"> Password </label>
			<input type="password" name="user[password]" class='form-control' id="user_password">
			<br>
			<input type='submit' value="Sign Up" class="btn btn-info btn-lg">
			</div>
	
		</form>

	</div>

</div>
