<form class="submitting">
  <label> Post Title </label>
	<input type="text" name="blog[title]" id="post_title", value="<%= blog.escape("title") %>">
	
	<br>
	<label> Post Body </label>
	<textarea rows="4" cols="100" name="blog[content]" id="post_content"> <%= blog.escape("content") %> </textarea>
  <button> Edit Post </button>

</form>