<h2> Your posts </2>


<div class="new-blog">
<button id="create-blog"> New Post </button>
</div>

<div class="user-follows"> </div>

<ul>
	<% blogs.each(function (blog) { %>
			<li> 
			  <a href="#/blogs/<%= blog.get('id')%>" > 
			  <%= blog.escape('title') %>
				</a>
				<%= blog.escape('content') %>
			</li>
	<% }) %>
</ul>

<a href="#/users" > Users </a> 