<form>
  <label> Post Title </label>
	<input type="text" name="blog[title]" id="post_title">
	<textarea rows="4" cols="100" name="blog[content]" id="post_content"> </textarea>
  <button> Create Post </button>


</form>