/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
};

@import "bootstrap";

body {
  background-image: url("background_img.jpg");
	background-attachment: fixed;
  -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: serif;
	font-size: large;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.navbar-default {
	height: 50px;
	background-image: url("background_5.jpg");
}

.navbar-brand {
	padding-top: 0;
}

.navbar-logo {
	height: 48px;
	width: 150px;
}

.header-nav {
	width: 1000px;
	margin:0 auto;
	padding:0;
}

div.container {
	width: 1000px;
	text-align: left;
	margin:0 auto;
	padding:0;
} // this is everything under nav bar

div#buttons-new {
	text-align: center;
} //for centering texts under buttons (text, image,...)

div.image-option {
	display: inline-block;
}

div.header {
	text-align: center;
}

a {
	color: #000000; 
	text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h2 {
	margin-top: 0px;
} // need to fix modification to h2 and h4

h4 {
	font-size:25px;
}